::-webkit-scrollbar {
  width: 8px;
  height: 5px;
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #777;
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
